<!DOCTYPE html>
<html lang="en-gb">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Index</title>
	<link rel="icon" href="resources/favicon.ico" />
	<link rel="stylesheet" href="resources/normalize.css" />
	<link rel="stylesheet" href="resources/style.css" />
	<script src="resources/search.js"></script>
</head>
<body>
	
	<!-- Section 1 -->
	<header>
		<div class="container">
			<h1>Log</h1>
		</div>
	</header>
	
	<!-- Section 2 -->
	<nav class="nav-search">
		<div class="container">
			<input type="text" class="input-search" placeholder="Search" />
			<div id="search-results"></div>
		</div>
	</nav>
	
	<!-- Section 3 -->
	<article class="container" id="article-main">
		<h2>All Pages</h2>
		<nav>
			<ul class="ul-pages">
				<li><a href='posts/post_1/index.html'>Post 1</a><small>2017-01-03</small></li>
				<li><a href='posts/post_3/index.html'>Post 3</a><small>2016-12-31</small></li>
				<li><a href='posts/post_4/index.html'>Post 4</a><small>2016-12-31</small></li>
				<li><a href='posts/post_5/index.html'>Post 5</a><small>2016-12-31</small></li>
				<li><a href='posts/test/index.html'>Test</a><small>2016-12-31</small></li>
				<li><a href='posts/post_2/index.html'>Post 2</a><small>1970-01-01</small></li>

			</ul>
		</nav>
	</article>
	
	<script>
		search_json = {"4": ["post_4"], "3": ["post_3"], "Post": ["post_1", "post_3", "post_4", "post_5", "post_2"], "1": ["post_1"], "Test": ["test"], "2": ["post_2"], "5": ["post_5"]};
		set_search_data(search_json);
	</script>
</body>
</html>